:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
textarea,
select,
input {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  -webkit-appearance: none;
}
body {
  margin: 0px;
  background-color: #f0f8ff24;
  display: flex;
}

h3 {
  margin-block: 0;
}

p {
  margin: 0%;
}

.modal-open {
  overflow-y: hidden;
}
